body {
    background-color: lightsteelblue;
}

#section-1 {
    text-align: center;
}

#div-nome {
    background-color: darkslategrey;
}

#div-menu {
    background-color: darkcyan;
    border-style: solid;
    margin-left: 20%;
    padding-top: 10px;
    width: 50%;
    height: 40px;
}